---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		
		<link href='https://fonts.googleapis.com/css?family=Cardo' rel='stylesheet'>
		<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>	
		<style>
		
			h1 { color: rgb(4, 170, 79); }
			p { 
				font-size: calc(15px + 0.390625vw);
				color:rgb(55, 2, 214);
		
				}
		  </style>
		  
	</head>
	<body>
	<style>
	:root{
		margin: 0;
		padding: 0;
		--body-fonts: "Cardo", "Georgia", serif;
		font-family: var(--body-fonts);
	}
	</style>
	
		
		<h1>Astro initial minimum build</h1>

		<h2>Paragraph font is responsive</h2>
		<h3>Font is Cardo</h3>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
<p>123456790</p>
<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
<p>abcdefghijklmnopqrstuvwxyz</p>

<h3>Alpine JS expand should be here:</h3>

<div x-data="{ expanded: false }">
	<button @click="expanded = ! expanded">Toggle Content</button>

	<p id="foo" x-show="expanded" x-collapse>
	  Lorem ipsum
	</p>
  </div>

	</body>
</html>
